body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}

img {
    height: 200px;
}

h2 {
    font-size: 2em;
    padding: 30px;
}

h3 {
    font-size: 1.3em;
    padding: 15px 0;
}


.block {
    padding: 0 30px 30px;
}

.block hr {
    margin: 15px 0 30px;
}

#steps,
#why {
    margin-top: 50px;
    background-color: #f9f9f9;
}

#why img {
    height: 250px;
    background-color: #428bca;
    border-radius: 50%;
    padding: 25px
}

/* xs */
@media screen and (max-width: 767px) {

    body {
        font-size: 1.7em;
    }

    .block p {
        padding-bottom: 30px;
    }
    
    
    #lessons,
    #steps,
    #why {
        margin-top: 0;
        padding-top: 15px;
    }    
    #lessons,
    #why {
        background-color: #f2f2cd;
    }
    
    #why img {
        height: 200px;
        padding: 30px
    }

}

/* md */
@media screen and (min-width: 768px) and (max-width: 991px) {

    body {
        font-size: 1.7em;
    }

    .block hr {
        display: none;
    }

    #lessons,
    #steps,
    #why {
        margin-top: 0;
        padding-bottom: 50px;
    }

    #lessons,
    #why {
        background-color: #cdf2d0;
    }


    #why img {
        height: 200px;
        padding: 30px
    }

}

/* lg */
@media screen and (min-width: 992px) {

    #lessons hr,
    #steps hr {
        display: none;
    }

}